.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    transition: 0.3s;
    text-align: center;
}

.card:hover {
    transform: scale(1.05);
}

.card img {
    width: 100%;
    border-radius: 8px;
}